# Loads another .envrc if found when searching from the parent directory
# up to /.
# Use a ~/.envrc file to hold global configuration, and override if necessary
# in this config file.
source_up

# do we need to add something to paths?
# PATH_add ./some/path/node_modules/.bin

# do we need to source a .env file etc?
# dotenv_if_exists .env

use flake


